<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" method="POST" th:action="@{/}"
      th:object="${phoneNumber}">
    <table>
        <tr>
            <td>PhoneNumber</td>
            <td><input th:field="*{number}" type="text"/></td>
            <td th:errors="*{number}" th:if="${#fields.hasErrors('number')}">Name Error</td>
        </tr>
    </table>
    <button type="submit">submit</button>
</form>
</body>
</html>